@media screen and (max-width:420px){
    #contenuHeader {
        display: block;
        margin: 0 auto;
        text-align: center;
    }

    #contenuHeader .headerContenu{
        text-align: center;
        margin: 0 auto;
        width: 90vw;
    }
}